# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Tests
.pytest_cache/
htmlcov/
.coverage

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Otros
*.log
.DS_Store
*.md
!README.md